/* contact-form */


@import url('https://fonts.googleapis.com/css2?family=Grandstander:wght@200&family=Nunito:wght@600&family=Sansita+Swashed:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Grandstander&display=swap');


:root {
    --cute-font:Grandstander, cursive;
    --sub-font:'Sansita Swashed', sans-serif;
    --other-font: Nunito, sans-serif;
    --color: #87B2A9;
    --top-position:35%;
    --background-color:#fff;
    font-size:16px;
} 

body {
    margin: 0;
    box-sizing: border-box;
    background-color:#EEE;
}

.header {
    margin:0;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    padding: 10px;
    
}


.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.shopping {
  grid-area:1 / 1 / 2 / 2;
}
.search-bar {
  grid-area:1 / 2 / 2 / 4;
}

.strawberry-logo {
  grid-area:2 / 1 / 3 / 4;
}
.text {
  grid-area:3 / 1 / 4 / 4;
}

.strawberry-logo {
    height:100%;
    width:100%;
    align-items: center;
    justify-content: center;
}

.strawberry-logo img {
    display:block;
    margin:0 auto;
    width:100%;
    height: 100%;
}

body {
        margin:0;
        padding:0;
        box-sizing: border-box;
        color:#fff;
        background-color: var(--background-color);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-color: #EAB8AB
}

.shopping img{
    width: 50%;
    height: 50%x;
}

.social-media {
    padding:1%;
    text-align: center;
}

.social-media a {
    text-decoration:none;
}

.social-media img {
    width:100%;
    max-width:70px;
    margin:1%;
}


.text {
    font-size:5rem;
    color:#87B2A9;
    margin-top:0;
    font-family:var(--cute-font);
    font-size: 3rem;
    display:flex;
    height:auto;
    justify-content: center;
    align-items: center;
    position:relative;
    overflow:auto;
    top:20%;
    
}

.page-footer {
    bottom:0;
    text-align:center;
    width:100%;
    margin:0 0 0 0;
}
    
.footer-nav a {
    padding:5%;
    font-size:1.5rem;
    font-family: var(--sub-font);
    color: antiquewhite;
    text-decoration: none;
    margin-top: 5px;
    
} 

.copyright {
    margin-top:2rem;
    margin-bottom:0;
    font-family: var(--other-font);
    color:cadetblue;
}

.copyright a{
    text-decoration: none;
    color: cadetblue;
}


.address {
    margin-top:0;
    font-family: var(--other-font);
    color: cadetblue;
}

.contact-box {
    margin-bottom:5%;
    max-width:800px;
    border-radius: 1px;
    padding: .1rem;
    margin-left: auto;
    margin-right: auto;
}

fieldset {
    border:none;
    font-family: var(--sub-font);
    font-size: 1.3rem;
    
}

.contact-form textarea {
    min-height:8rem;
    
}

.contact-box input[type=text],
.contact-box input[type=email],
.contact-box textarea {
  width: 100%;
  padding: .75rem;
  border: 5px solid;
  border-color: var(--color);
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: .5rem;
  margin-bottom: 1rem;
  resize: vertical;
    
}

.contact-box input[type=checkbox] {
    
    
}

.contact-box input[type=submit] {
    background-color:var(--color);
    
}

.contact-box input[type=reset] {
  color:var(--color);
  padding: .8rem 1.5rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.contact-box input[type=submit] {
  color: #FFF;
  padding: .8rem 1.5rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

input[type=submit]:hover,
input[type=reset]:hover {
  background-color: #333;
}

.privacy a {
    color:#F85470;
}

.main-heading p{
    
    text-align: center;
}


/* home.html */

.images {
    margin-top:30px;
    margin-bottom: 30px;
    width:100%;
    filter:drop-shadow(.0rem .0rem .1rem #333);
}

.imageslist {
    position: relative;
    width:90%;
    background-color:transparent;
    margin:0 auto;
}

.imageslist > figure {
    margin:0 auto;
    width:100%;
}

.imageslist > figure > img {
    width:100%;
    
}


.item-1,
.item-2,
.item-3,
.item-4{
    margin-top:-1%;
    margin-bottom:0;
}

         
.overlay {
    position: absolute;
    top:115px;
    left:0;
    height:100%;
    width:100%;
    opacity:0;
    transition:.5s ease;

}

.imageslist:hover .overlay,
.imageslist:active .overlay {
    opacity:.85;
    transition:.5s ease;
}

.hover-text {
    display:flex;
    height:auto;
    justify-content: center;
    align-items: center;
    position:relative;
    overflow:auto;
    top:-15%;
}

.hover-text a {
    font-size:3rem;
    font-family: var(--sub-font);
    background-color:var(--background-color);
    background-size: auto;
    width:100%;
    padding:12.5% ;
    text-align: center;
    text-decoration: none;
    color: darkseagreen;
}

.search-icon{
    width: 20%;
    height: 80%;
}

.search-bar {
    height:3rem;
    display:block;
    border:3px solid;
    border-radius:100px;
    border-color:var(--color);
    display:flex;
    padding:.2rem;
    width: 95%;
}

.search-box {
    border:none;
    background-color: transparent;
    outline:none;
    width:100%;
    color: white;
    font-family:var(--sub-font);
}

.search-bar:focus-within .search-box::placeholder {
    color:transparent;
    border:none;
}


/*responsive-starts*/


@media (min-width:600px) {
    .social-media-links img {
        max-width:40px;
    }
    
    .main-heading {
        
    }
    
     body {
        background-color: #EAB8AB;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .main-heading p {
     font-size:2rem;
     margin-top:0;
     color: rgba(255, 255, 255, .8);
     font-family:var(--cute-font);
     margin-bottom: 1rem;
    }
    
    
   .strawberry-logo img {
        width: 100%;
        max-width: 250px;
    }
    
    .shopping img{
    width: 50%;
    height: 50%x;
    
}

    .search-icon{
    width: 15%;
    height: 70%;
    margin-top: .3rem;
}
    
    .overlay{
        top:150px;
    }
    
}

@media (min-width:750px) {
    
    .main-heading {
       
    }
    
    .main-heading p {
     font-size:3rem;
     margin-top:0;
     color:var(--color);
     font-family:var(--cute-font);
     margin-bottom: 1rem;
    }
    
    .images {
    display:grid;
    grid-template-columns:1fr 1fr;
}
    
    .imageslist{
        width: 95%;
        
    }
    
    .overlay{
        top:80px;
    }
    
     body {
        background-color: #EAB8AB;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .social-media img {
    width:100%;
    max-width:90px;
    margin:2%;
}
    
    .strawberry-logo img {
        width: 100%;
        max-width: 300px;
    }
    
    .shopping img{
    width: 50%;
    height: 50%x;

}
    
    .search-icon{
    width: 15%;
    height: 70%;
    margin-top: .3rem;
}
    
     .footer-nav a {
    padding:5%;
    font-size:2rem;
    font-family: var(--sub-font);
    color: antiquewhite;
    text-decoration: none;
    margin-top: 5px;

}
    
    
}

@media (min-width:1000px) {
    
     body {
        background-color: #EAB8AB;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .main-heading p {
        color:var(--color);
        font-size:4rem;
        margin-top:0;
        font-family:var(--cute-font);
        margin-bottom: 1rem;
    }
    
    .strawberry-logo img {
        width: 100%;
        max-width: 400px;
    }
    
    .shopping img{
    width: 50%;
    height: 50%x;
}
    
    .search-icon{
    width: 15%;
    height: 70%;
    margin-top: .3rem;
    margin-right: -2rem;
}
    
    .footer-nav a {
    padding:5%;
    font-size:3rem;
    font-family: var(--sub-font);
    color: antiquewhite;
    text-decoration: none;
    margin-top: 5px;

}
    
    .images {
    grid-template-columns:1fr 1fr 1fr 1fr;
}
    
     .imageslist{
        
        width: 100%;
        
    }
    
    .overlay{
        top:45px;
    }

@media (min-width:1200px) {
    
    body {
        background-color: #EAB8AB;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .main-heading {
        background:none;
        clip-path:none;
        padding:0;
        top:var(--top-position);
    }
    
    .main-heading p {
        color:rgba(69, 247, 194, 0.5);
        font-size:4rem;
        margin-top:0;
        font-family:var(--cute-font);
        margin-bottom: 1rem;
    }
    
    .strawberry-logo img {
        width: 100%;
        max-width: 550px;
    }
    
    .shopping img{
    width: 50%;
    height: 50%;
   
}
    
    .search-icon{
    width: 15%;
    height: 70%;
    margin-top: .3rem;
    margin-right: -2.5rem;
}
    
     .footer-nav a {
    padding:5%;
    font-size:3rem;
    font-family: var(--sub-font);
    color: antiquewhite;
    text-decoration: none;
    margin-top: 5px;

}
    
     .overlay{
        top:80px;
    }
    
}
